network:
  version: 2
  ethernets:
    ${iface_name}:
      addresses:
      - ${ip_address}/${prefix}
      nameservers:
        addresses:
        - 8.8.8.8
      routes:
      - to: 0.0.0.0/0
        via: ${default_gateway}