receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
  syslog:
    tcp:
      listen_address: 0.0.0.0:54526
    protocol: rfc3164
    location: Asia/Tokyo
    operators:
      - type: syslog_parser
        protocol: rfc3164
        location: Asia/Tokyo

  prometheus:
    config:
      scrape_configs:
        - job_name: node_exporter
          scrape_interval: 5s
          static_configs:
            - targets: ['otelcol1:9100']
              labels:
                service: otelcol
            - targets: ['clickhouse1:9100', 'clickhouse2:9100']
              labels:
                service: clickhouse-server
            - targets: ['keeper1:9100', 'keeper2:9100', 'keeper3:9100']
              labels:
                service: clickhouse-keeper
            - targets: ['prometheus:9100']
              labels:
                service: prometheus
           

processors:
  batch:
    timeout: 5s
    send_batch_size: 5000

exporters:
  prometheusremotewrite:
    endpoint: http://prometheus:9090/api/v1/write
    tls:
      insecure: true
  clickhouse:
    endpoint: tcp://clickhouse1:9000,clickhouse2:9000?dial_timeout=10s
    ttl: 744h 
    cluster_name: cluster01
    table_engine:
      name: ReplicatedMergeTree

service:
  pipelines:
    metrics:
      receivers: [otlp, prometheus]
      processors: [batch]
      exporters: [prometheusremotewrite, clickhouse]
    logs:
      receivers: [otlp, syslog]
      processors: [batch]
      exporters: [clickhouse]
