<clickhouse>
    <macros>
        <shard>{{ clickhouse_shard_id }}</shard>
        <replica>{{ clickhouse_replica_id }}</replica>
        <cluster>{{ clickhouse_cluster_name }}</cluster>
    </macros>
</clickhouse>