<clickhouse>
    <logger>
        <!--
          See https://clickhouse.com/docs/en/operations/server-configuration-parameters/settings#logger
          for logger settings.
        -->
        <level>information</level>
        <log>/var/log/clickhouse-server/clickhouse-server-%Y%m%dT%H%M%S.log</log>
        <errorlog>/var/log/clickhouse-server/clickhouse-server-%Y%m%dT%H%M%S.err.log</errorlog>
        <size>1000M</size>
        <count>10</count>
    </logger>
    <display_name>{{ inventory_hostname }}</display_name>
    <listen_host>::</listen_host>
    <http_port>8123</http_port>
    <tcp_port>9000</tcp_port>
</clickhouse>
