<clickhouse>
    <zookeeper>
{% for server in clickhouse_keeper_servers %}
        <node>
            <host>{{ server.host }}</host>
            <port>9181</port>
        </node>
{% endfor %}
    </zookeeper>
</clickhouse>
