<clickhouse>
    <logger>
        <!--
          See https://clickhouse.com/docs/en/operations/server-configuration-parameters/settings#logger
          for logger settings.
        -->
        <level>information</level>
        <log>/var/log/clickhouse-keeper/clickhouse-keeper-%Y%m%dT%H%M%S.log</log>
        <errorlog>/var/log/clickhouse-keeper/clickhouse-keeper-%Y%m%dT%H%M%S.err.log</errorlog>
        <size>1000M</size>
        <count>10</count>
    </logger>
    <listen_host>::</listen_host>
    <keeper_server>
        <tcp_port>9181</tcp_port>
        <server_id>{{ clickhouse_keeper_server_id }}</server_id>
        <log_storage_path>/var/lib/clickhouse/coordination/log</log_storage_path>
        <snapshot_storage_path>/var/lib/clickhouse/coordination/snapshots</snapshot_storage_path>
        <coordination_settings>
            <operation_timeout_ms>10000</operation_timeout_ms>
            <session_timeout_ms>30000</session_timeout_ms>
            <raft_logs_level>information</raft_logs_level>
        </coordination_settings>
        <raft_configuration>
{% for server in clickhouse_keeper_servers %}
            <server>
                <id>{{ server.server_id }}</id>
                <hostname>{{ server.host }}</hostname>
                <port>9234</port>
            </server>
{% endfor %}
        </raft_configuration>
    </keeper_server>
</clickhouse>